body {
    margin: 0;
    padding: 0;
}

.main-content {
    min-height: 100vh;
    width: 100vw;
}

.container {
    margin: 0 auto;
}

.content-block {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    margin-bottom: 25px;
}

.first-block {
    justify-content: center;
}

.first-block div {
    align-items: stretch;
    position: relative;
    display: grid;
    gap: 25px 0;
    grid-template-columns: 25% 25% 25% 25%;
}

.first-block div img {
    display: block;
    flex-basis: 30%;
}

.first-block div pre {
    position: absolute;
    top: 40%;
    right: -11.5%;
}

.first-block pre {
    align-self: center;
    justify-self: flex-start;
    max-width: 500px;
}

.second-block {
    position: relative;
}

.second-block img {
    height: 350px;
    width: 350px;
}

.second-block img:first-child {
    position: absolute;
    left: 35%;
    bottom: 35%;
}

.second-block img:last-child {
    position: absolute;
    left: 62%;
    top: 5%
}

.second-block pre {
    position: absolute;
    left: 0;
    bottom: 10%;
    z-index: 1;
}

.third-block div img:first-child {
    opacity: 0;
}

.third-block div img:nth-child(7n) {
    opacity: 0;
}

.forth-block div img:nth-child(n + 2) {
    opacity: 0;
}

.forth-block div img:nth-child(n + 5) {
    opacity: 0;
}

.forth-block div img:nth-child(5n) {
    opacity: 1;
}

.sixth-block div img:first-child,
.sixth-block div img:last-child,
.sixth-block div img:nth-child(4n),
.sixth-block div img:nth-child(5n){
    opacity: 0;
}

.eighth-block div img:nth-child(-n + 2) {
    opacity: 0;
}

.eighth-block div img:nth-child(n + 7) {
    opacity: 0;
}

.nineth-block div img {
    align-self: center;
    width: 500%;
}

.first {
    align-self: stretch;
}
