body {
    margin: 0;
    padding: 0;
}

.main-content {
    min-height: 100vh;
    width: 100vw;
}

.container {
    margin: 0 auto;
}

.content-block {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    overflow: hidden;
    padding: 35px;
    width: 100%;
}

.first-block {
    flex-direction: column;
    justify-content: flex-end;
}

.first-block div {
    position: relative;
    aspect-ratio: 1/1;
    max-width: 400px;
}

.first-block div img {
    width: 100%;
}

.first-block div pre {
    position: absolute;
    top: 40%;
    right: -11.5%;
}

.first-block pre {
    align-self: center;
    justify-self: flex-start;
    max-width: 500px;
}

.second-block {
    position: relative;
}

.second-block img {
    height: 350px;
    width: 350px;
}

.second-block img:first-child {
    position: absolute;
    left: 35%;
    bottom: 35%;
}

.second-block img:last-child {
    position: absolute;
    left: 62%;
    top: 5%
}

.second-block pre {
    position: absolute;
    left: 0;
    bottom: 10%;
    z-index: 1;
}
